<h1> HTML Tag Reference</h1>

  <div style="margin: 20px;">
    <code>&lt;h1&gt;&lt;/h1&gt;</code>
    <p>
      Indicates the <em>main header</em> text on your page.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;h2&gt;&lt;/h2&gt;</code>
    <p>
      Indicates the <em>secondary header</em> text on your page.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;p&gt;&lt;/p&gt;</code>
    <p>
      Indicates paragraph text. The browser has default styling for paragraphs.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;img src="/yourimage.png"&gt;</code>:

    <p>
      Image tag. Notice that the image tag doesn’t have a closing tag. That’s because there’s nothing that needs to go between the opening and the closing tag – all the details about are tag are provided as <strong>attributes</strong> of that tag (like <code>src</code>). We call these “self closing” tags.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;button&gt;&lt;/button&gt;</code>

    <p>
      Creates a clickable button on your page.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;a href="palette.html"&gt;...&lt;/a&gt;</code>

    <p>
      A link or <em>anchor</em> tag that allows you to wrap any element on the page and make it a clickable link. The href attribute specifies where the link should take the user. In this case, we want to link to another file in our current directory (folder) - but you can also use the href attribute to link the user to any URL.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;span&gt;...&lt;/span&gt;</code>

    <p>
      Span tags allow you to group inline elements. Spans are useful for wrapping elements that might receive different CSS styling than their surroundings.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;form&gt;...&lt;/form&gt;</code>

    <p>
      A special wrapper tag for content that will be part of a form (usually input tags).
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;input type="text" placeholder="New Palette"&gt;</code>

    <p>
      A text input field. Input tags are <strong>self-closing</strong>
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;input type="range" step=1 min=0 max=255&gt;</code>

    <p>
      A slider or range input. Note that input tags are <strong>self-closing</strong>!
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;input type="submit" value="Save"&gt;</code>

    <p>
      The button that controls submitting a form. The value attribute will be displayed as the button text.
    </p>
  </div>

  <div style="margin: 20px;">
    <code>&lt;span&gt;...&lt;/span&gt;</code>

    <p>
      Span tags allow you to group inline elements. Spans are useful for wrapping elements that might receive different CSS styling than their surroundings.
    </p>
  </div>

  <p>You can see all of your options here: <a href="http://www.w3schools.com/tags/">HTML Tag Reference on W3 Schools</a>.</p>
