* {
  margin: 0 0;
  box-sizing: border-box;
}

body{
  font-family: MilaScript-SansLight;
  font-size: 20px;
  text-align: center;
  color: white;
  @media(max-width: 600px){
    font-size: 14px;
  }
}
.header {
  background-color: #E36551;
  min-height: 100vh;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}
.emberitas {
  width: 95%;
  text-align: center;
  // font-size: 4em;
  line-height: 2em;
  margin: 0 auto;
  padding-top: .75em;
  margin-bottom: 30px;

  @media(min-width: 768px){
    width: 50%
  }
}

.coming-soon {
  font-family: MilaScript-SansLight;
  line-height: 1em;
  letter-spacing: -11px;
  font-size: 3em;
  @media(max-width: 600px){
    font-size: 2em;
  }
  /*font-family: 'Mila Script Sans Regular'*/
}

.location {
  // font-family: 'Mila Script Pro';
  font-family: MilaScript-SansLight;
  font-size: 1.5em;
  // @media(max-width: 600px){
  //   font-size: 1em;
  // }
  margin-bottom: 30px;
}

.about {
  font-size: 1em;
  width: 500px;
  @media(max-width: 600px){
    width: 100%;
  }
  margin: 0 auto;
  font-family: MilaScript-SansLight;
  .strong {
    font-size: 1.25em;
  }
}

.email-ask {
  margin-top: 30px;

}

form.email {
  position: relative;
  width: 500px;
  @media(max-width: 600px){
    width: 95%;
  }
  margin: 30px auto;
  .email-ask {
    padding-top: 5px;
    height: 120px;
    background-color: white;
    opacity: 0.5;
    border-radius: 3px;
    color: black;
  }
  input.email {
    font-family: MilaScript-SansLight;
    letter-spacing: -1px;
    font-size: .8em;
    line-height: 3em;
    border-radius: 3px;
    position: absolute;
    left: 5%;
    bottom: 20px;
    width: 90%;
    border: none;
    &.sent {
      pointer-events:none;
      background-color: #E36551;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    font-family: MilaScript-SansLight;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    margin-top: 2px;
    right: 5.1%;
    font-size: .8em;
    height: 3em;
    border-style: none;
    border-radius: 3px;
    background-color: #E36551;
    color: white;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:focus {
      outline: none;
    }
    &::after {
      content: 'email me'
    }
    &.sent {
      pointer-events:none;
      right: 15%;
      width: 70%;
      background-color: #E36551;
      // color: brown;
      &::after {
        content: "thanks! we'll talk soon."
      }
    }
  }
}
