$nav-height: 50px;
* {
  margin: 0 0;
  box-sizing: border-box;
}
h1, h2, h3 {
  font-family: MikadoBoldDEMO;
  letter-spacing: 1px;
  color: white;
}

h1 {
  font-size: 3.5em;
  line-height: 2em;

}
a {
  font-weight: bolder;
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

body{
  font-family: MilaScript-SansLight;
  font-size: 20px;
  text-align: center;
  color: white;
  @media(max-width: 600px){
    font-size: 14px;
  }
}
.header {
  // position: fixed;
  background-color: #E36551;
  min-height: 100vh;
  padding: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;

}
.emberitas {
  width: 95%;
  text-align: center;
  // font-size: 4em;
  line-height: 2em;
  margin: 0 auto;
  padding-top: .75em;
  margin-bottom: 30px;

  @media(min-width: 768px){
    width: 50%
  }
}

.coming-soon {
  font-family: MilaScript-SansLight;
  line-height: 1em;
  letter-spacing: -11px;
  font-size: 3em;
  @media(max-width: 600px){
    font-size: 2em;
    letter-spacing: -5px;
  }
  /*font-family: 'Mila Script Sans Regular'*/
}

.location {
  // font-family: 'Mila Script Pro';
  font-family: MilaScript-SansLight;
  font-size: 1.5em;
  // @media(max-width: 600px){
  //   font-size: 1em;
  // }
  margin-bottom: 30px;
}

.about {
  font-size: 1em;
  width: 500px;
  @media(max-width: 600px){
    width: 100%;
  }
  margin: 0 auto;
  font-family: MilaScript-SansLight;
  .strong {
    font-size: 1.25em;
  }
}

.email-ask {
  margin-top: 30px;

}

form.email {
  position: relative;
  width: 500px;
  @media(max-width: 600px){
    width: 95%;
  }
  margin: 30px auto;
  .email-ask {
    padding-top: 5px;
    height: 120px;
    background-color: white;
    opacity: 0.5;
    border-radius: 3px;
    color: black;
  }
  input.email {
    font-family: MilaScript-SansLight;
    letter-spacing: -1px;
    font-size: .8em;
    line-height: 3em;
    border-radius: 3px;
    position: absolute;
    left: 5%;
    bottom: 19px;
    width: 90%;
    border: none;
    &.sent {
      pointer-events:none;
      background-color: #E36551;
    }
    &:focus {
      outline: none;
    }
  }
  button {
    font-family: MilaScript-SansLight;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    margin-top: 2px;
    right: 5.1%;
    font-size: .8em;
    height: 3em;
    border-style: none;
    border-radius: 3px;
    background-color: #E36551;
    color: white;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:focus {
      outline: none;
    }
    &::after {
      content: 'email me'
    }
    &.sent {
      pointer-events:none;
      right: 15%;
      width: 70%;
      background-color: #E36551;
      &::after {
        content: "thanks! we'll talk soon."
      }
    }
  }
}

.more-info {
  min-height: 100vh;
  background-color: #FDA100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: $nav-height;
  background-color: #00a087;
  visibility: visible;
  opacity: 1;

  -webkit-transition: visibility .5s, opacity 0.25s linear;
  transition: visibility .5s, opacity 0.25s linear;

  &.hidden {
    visibility:hidden;
    opacity: 0
  }
}

.nav-margined {
  padding-top: $nav-height + 20px;
}

.left-aligned {
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  @media(max-width: 600px){
    padding-left: 2.5%;
    padding-right: 2.5%;
  }
  color: black;
}

.footer {
  background-color: #00a087;
  height: 50px;
}

.social-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0 5px;
  background-size: contain;
  background-repeat: no-repeat;
  &:hover {
    cursor: pointer;
    width: 29px;
    height: 29px;
  }
  &.facebook {
    background-image: url(../social/Facebook.png);
    &:hover {
      // background-image: url(../social/Facebook-hover.png)
    }
  }
  &.twitter {
    background-image: url(../social/Twitter.png);
    &:hover {
      // background-image: url(../social/Twitter-hover.png)
    }
  }
  &.insta {
    background-image: url(../social/Instagram.png);
    &:hover {
      // background-image: url(../social/Instagram-hover.png)
    }
  }
}
