
<h1> Installing Ember </h1>
<p>There are a just couple of steps you’ll need to take to install
  Ember-CLI on your computer so that you can create your own applications
  using Ember.js. Your workshop experience will be much smoother if you
  install Ember before arriving on Saturday morning!
</p>

<ul>
  <li>
    <p>
      If, at any point during this installation, you encounter an issue,
      please email
      <a href="mailto:installations@emberitas.com">installations@emberitas.com</a>
      and we’ll attempt to work you through it! Computers are finnicky, so don't
      get discouraged.
    </p>
  </li>


  <li>
    <p>Additional assistance will be available on the morning of our workshops
      the workshop from 8:30am to 9:45am. As there are limited volunteer
      resources available, please attempt to leave this option as a last
      resort!
    </p>
  </li>
</ul>

<h3 id="but-first-what-is-ember-cli">But first: What is Ember-CLI?</h3>

<p>
  Ember provides developers like you with tools and resources that make
  creating and deploying “ambitious web applications” quite simple.
</p>

<p>
  <strong>CLI</strong> stands for “Command Line Interface.”
  If you’ve ever created a new file by typing something like
  “touch new_file.txt” in your Terminal, then you’ve used a command
  line interface. If you haven’t, that’s cool - we’ll teach you a
  little bit about the power of controlling your computer by the
  command line at our workshop. You’ll also get a bit of experience
  by following this tutorial. If you want to learn more about the
  Command Line now, check out
  <a href="https://www.codecademy.com/learn/learn-the-command-line">
    this Code Academy course
  </a>.
</p>

<p>From the Ember.js documentation:</p>

<blockquote>
  <p>Ember.js makes it downright simple to create sophisticated, multi-page
    JavaScript applications with great URL support, in a fraction of the code
    you’d write in other frameworks.
    (<a href="http://emberjs.com/">http://emberjs.com/</a>)
  </p>
</blockquote>

<h3 id="installing-ember-cli">Installation Instructions by OS</h3>
<ul>
  <li>
    {{#link-to 'resources.installation.mac'}}
      Installation Instructions for Mac
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'resources.installation.ubuntu'}}
      Installation Instructions for Ubuntu
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'resources.installation.windows'}}
      Installation Instructions for Windows
    {{/link-to}}
  </li>
</ul>
