<h1> Installing Ember for Windows </h1>

<p> Please install <a href="https://www.virtualbox.org/wiki/Downloads"> Virtual
  Box for Windows, and arrive as early as possible on Sunday so that we can help
  you install Ember and its dependencies onto your virtual machine.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
