<h1> Installing Ember for Windows </h1>

<p> We're still working on comprehensive instructions for installing Ember on a Windows
  computer. If you're looking for Windows installation instructions,
  please email
  <a href="mailto:installations@emberitas.com">installations@emberitas.com</a>
  for assistance.
</p>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
