<div style="text-align:center; margin-top: 100px;">
{{#link-to 'resources.beginner.part-one'}}
<img src="https://github.com/lydiaguarino/emberitas-images/blob/master/Ember-Austin-Zoey-Half-sm.png?raw=true" alt="enter image description here" title="">
  <h2 style="text-align:center">Start the Tutorial</h2>
{{/link-to}}
</div>
