<h1>Beginner Workshop - Building a Web Application</h1>
<p>
  If you are attending an Emberitas workshop, we'll make sure to review
  important HTML, CSS, and basic programming principles before we jump into creating our first
  application. To really slay, you may also want to brush up on your JS skills
  at <a href="https://www.codecademy.com/learn/javascript"> Codecademy </a>.
</p>

<h3>About This Course</h3>

<p>
  The goal of this workshop is to take you step-by-step through creating a fully-functional web application.
  We will start at the beginning, with some UX principles and build a static mock up of our application using HTML and CSS.
  The second half of the course will take us through the steps to convert our static web page into a dynamic web application, using the Ember.js framework.
</p>

<p>
  This course is intended as an introductory survey to give you a solid foundation to start exploring web development on a deeper level.
</p>

<h3>The Scope of This Workshop</h3>
<p>
  Part one of this workshop will be dedicated to HTML and CSS and will include exercises to introduce you to the Twitter Bootstrap responsive framework and working with Google fonts.
  Between the two tutorial segments, there will be a short intro lecture on Frameworks, Object Oriented Programming, the MVC Pattern, and building CRUD applications.
  Part two of the tutorial will focus on converting the static web pages you build in part one into a fully functioning, deployed web application.
</p>

<h3>The Approach</h3>

<p>
  We'll start with the simplest implementation of each feature, then build on
  it until we have a better understanding of <em>how</em> and <em>why</em> it
  works that way. Of course, there's still only a limited amount of depth we
  can get into in a one workshop, so I encourage you to mark the concepts
  you're interested in and research them on your own!
</p>

<h3> Workshop Notes </h3>
<ul>
  <li>
    {{link-to
      'Workshop - Part One'
      'resources.beginner.part-one'
    }}
  </li>
  <li>
    {{link-to
      'Workshop - Part Two'
      'resources.beginner.part-two'
    }}
  </li>
</ul>
<h3> Other Resources </h3>
<ul>

  <li>
    {{#link-to 'resources.basics.html-tags' target='_blank'}}
      HTML Tag Reference
    {{/link-to}}
  </li>

  <li>
    {{#link-to 'resources.beginner.mockups-and-colors' target='_blank'}}
      Beginner App: Mockups and Styleguide
    {{/link-to}}
  </li>

  <li>
    <a href="http://www.slideshare.net/lydiaguarino/how-do-i-even-web-app" target="_blank">
      MVC Lecture
    </a>
  </li>

  <li>
    <a href="http://getbootstrap.com/components/" target="_blank">
      Bootstrap Docs
    </a>
  </li>

  <li>
    <a href="https://www.google.com/fonts" target="_blank">
      Google Fonts
    </a>
  </li>

  <li>
    <a href="https://emberobserver.com/" target="_blank">
      Ember Observer - Ember Addons
    </a>
  </li>

  <li>
    <a href="https://www.firebase.com/docs/web/libraries/ember/" target="_blank">
      Firebase Docs
    </a>
  </li>

  <li>
    <a href="https://docs.pagefronthq.com/" target="_blank">
      Pagefront Docs
    </a>
  </li>
</ul>
{{outlet}}
