<h1> Beginner Color Palette Mockups and Resources </h1>

<h3> Final Mockups </h3>

<p><img src="https://raw.githubusercontent.com/bytheway875/emberitas-images/master/final-comps.png"></p>

<hr>

<h3>Application Colors, Fonts, and Tools</h3>

  <p><strong>Background color:</strong></p>

  <blockquote>
    <p>dark grayish blue <code>#1E2229</code><em>- this is called a color hexcode</em></p>
  </blockquote>

  <p><strong>Font color:</strong></p>

  <blockquote>
    <p>light gray <code>#586073</code></p>
  </blockquote>

  <p><strong>Tropical Color Palette:</strong></p>

  <blockquote>
    <p>red <code>rgb(217,33,32)</code> <br>
    orange <code>rgb(231,116,47)</code> <br>
      yellow <code>rgb(223,165,58)</code> <br>
      lime <code>rgb(177,190,78)</code> <br>
      green <code>rgb(109,179,136)</code></p>
  </blockquote>

  <p><strong>Cool Color Palette:</strong></p>

  <blockquote>
    <p>light blue <code>rgb(70,131,193)</code> <br>
      dark blue <code>rgb(63,78,161)</code> <br>
      purple <code>rgb(120,28,129)</code> <br>
      black <code>rgb(0,0,0)</code> <br>
      white <code>rgb(255,255,255)</code></p>
  </blockquote>

  <h4 id="special-fonts"><strong>Special Fonts</strong></h4>

  <blockquote>
    <p>Google Fonts - <a href="https://www.google.com/fonts#UsePlace:use/Collection:Pacifico">Pacifico</a></p>
  </blockquote>

  <h4 id="special-elements"><strong>Special Elements</strong></h4>

  <blockquote>
    <p><a href="http://getbootstrap.com/2.3.2/scaffolding.html#gridSystem">Twitter Bootstrap Responsive Grid System</a> <br>
    <a href="http://getbootstrap.com/2.3.2/components.html#buttonGroups">Twitter Bootstrap Button Groups</a></p>
  </blockquote>
<hr>

<h3> A Little Bit Of Color Theory </h3>


  <p>You’ll notice that Chloe provides us two different types of color codes. </p>

  <p>For our application colors (the background and font color), we’ll be using <strong>hex codes</strong> - a character code with  that starts with a hashtag, like <code>#ffffff</code>.</p>

  <p>For our color palette colors, she provides <strong>rgb color codes</strong> - a three part code that includes values for the red(r), green(g), and blue(b) values of our colors, like <code>rgb(123, 23, 42)</code></p>

  <p>Every color is a mix of our three primary colors (red, blue, and green). The higher the value for each value, the more of that color we’ll see in our resulting color.</p>

  <p>Every color we can use on the web has a unique hex code AND rgb color code that applies to that color, and we can use them interchangeably. For example:</p>

  <blockquote>
    <p><strong>Black</strong> <br>
    Pure black is the <em>absence</em> of all color - zero values for red, blue, and green.</p>

    <p>hexcode: <code>#000000</code> <br>
    rgb code: <code>rgb(0,0,0)</code></p>

    <p><strong>White</strong> <br>
    Pure white is the <em>max value</em> of all colors - 255 for red, blue, and green. <br>
    hexcode: <code>#ffffff</code> <br>
    rgb code: <code>rgb(255,255, 255)</code></p>

    <p><strong>All other colors</strong> <br>
    All other colors are <em>some combination</em> of red, blue and green. Let’s take some examples from Chloe’s tropical color palette:</p>

    <p><em>Tropical Red</em> <br>
    hexcode: <code>#d92120</code> <br>
    rgb code: <code>rgb(217, 33, 32)</code></p>

    <p><em>Tropical Orange</em> <br>
    hexcode: <code>#e7742f</code> <br>
    rgb code: <code>rgb(231, 116, 47)</code></p>
  </blockquote>

  <p>You can use hexcodes and rgb code interchangeably in your color palette. We’ll use <code>rgb</code> colors for our palette colors because it’ll make it easy to change the red, blue, and green colors individually to create new palette colors!</p>
