<h1> Emberitas Learning Center </h1>

<h3> Installing Ember </h3>
<p>
  Need to install Ember? Check out our installation instructions for various
  operating systems {{#link-to 'resources.installation'}}here{{/link-to}}.
</p>

<hr>

<h3> Javascript Review </h3>
<p>Try out Codecademy's excellent
  <a href="https://www.codecademy.com/learn/javascript">
    introduction to Javascript course
  </a> to learn or review some of the fundamentals of Javascript.
</p>
<p> This is especially recommended for attendees of the Intermediate course who
  do not work with Javascript on a regular basis.
</p>

<hr>

<h3> Beginner Workshop Resources </h3>
<p> Coming ASAP! Check back soon :) </p>

<hr>

<h3> Intermediate Workshop Resources </h3>
<p>
  Check out the workshop curriculum for our intermediate class on July 16th, 2016
  {{#link-to 'resources.intermediate'}}
    here
  {{/link-to}}.
</p>

<hr>
<br>
<br>
<br>
<br>
<br>
