<h1> Emberitas Learning Center </h1>
<h2> Workshop Resources </h2>

<h3> {{link-to 'Beginner Workshop Resources' 'resources.beginner'}} </h3>

<h3>{{link-to 'Intermediate Workshop Resources' 'resources.intermediate'}}</h3>



<hr>

<h2>Other Resources</h2>

<h3> Installing Ember </h3>
<p>
  Need to install Ember? Check out our installation instructions for various
  operating systems {{#link-to 'resources.installation'}}here{{/link-to}}.
</p>

<hr>

<h3 id="ember-documentation">Ember Documentation</h3>

<h4 id="ember-guides-262"><a href="https://guides.emberjs.com/v2.6.0/">Ember Guides</a> (2.6.2)</h4>

<h4 id="ember-api-documentation-262"><a href="http://emberjs.com/api/">Ember API Documentation</a> (2.6.2)</h4>

<hr>

<h3 id="ember-learning-links">Ember Learning Links</h3>

<p>The following list of awesome Ember resources was originally compiled by <a href="www.twitter.com/swany10012">Michael Swanson</a> for his lightning talk <a href="https://speakerdeck.com/swany10012/emberitas-keeping-up-with-ember">Keeping Up With Ember</a> on July 16, 2016.</p>

<h4 id="news-tutorials-and-articles-from-the-ember-community">News, Tutorials, and Articles from the Ember Community</h4>

<ul>
  <li><a href="http://emberweekly.com">Ember Weekly</a></li>
  <li><a href="http://emberwatch.com">Ember Watch</a></li>
</ul>



<h4 id="popular-blogs">Popular Blogs</h4>

<ul>
  <li><a href="http://emberigniter.com">Ember Igniter</a></li>
  <li><a href="https://dockyard.com/blog/categories/ember">Dockyard Ember Blogs</a></li>
  <li><a href="https://emberway.io">Ember Way</a></li>
</ul>

<h4 id="podcasts">Podcasts</h4>

<ul>
  <li><a href="https://emberweekend.com">Ember Weekend</a></li>
  <li><a href="http://ember.land">Ember Land</a></li>
</ul>



<h4 id="meetups">Meetups</h4>

<ul>
  <li><a href="http://www.meetup.com/Ember-ATX">EmberATX</a></li>
  <li><a href="https://www.bigmarker.com/communities/global-ember-meetup">Ember Global Meetup</a></li>
</ul>



<h4 id="screencasts-and-videos">Screencasts and Videos</h4>

<ul>
  <li><a href="https://www.emberscreencasts.com">Ember Screencasts</a></li>
  <li>Archived Ember Meetup Videos <br>
    <ul>
      <li><a href="https://vimeo.com/globalembermeetup/videos">Global Ember Meetup Videos</a></li>
      <li><a href="https://www.youtube.com/channel/UCl7qY85b7KLJV3xnn1Xh_Cw">EmberATX Videos</a></li>
    </ul>
  </li>
</ul>



<h4 id="get-help-contribute">Get Help &amp; Contribute</h4>

<ul>
  <li><a href="https://ember-community-slackin.herokuapp.com">Ember Slack Community</a></li>
  <li><a href="https://emberobserver.com">Ember Observer</a></li>
  <li><a href="https://ember-twiddle.com">Ember Twiddle</a></li>
  <li><a href="https://github.com/ember-learn/ember-help-wanted">Ember Help Wanted Repo</a></li>
</ul>

<hr>

<h3> Javascript Review </h3>
<p>Try out Codecademy's excellent
  <a href="https://www.codecademy.com/learn/javascript">
    introduction to Javascript course
  </a> to learn or review some of the fundamentals of Javascript.
</p>
