<p> Add an images folder to your Ember application's
  <code>'public'</code> folder,
  then add these images to your new <code>'public/images'</code>
  folder.
</p>

<pre class="prettyprint" style="background-color:#f0f0f0">
  <img src="../images/emberitas_white.png" width=250>
  <br>
  <img src="../images/emberitas_black.png" width=250>

</pre>
<br>
<br>
<br>
<br>
{{outlet}}
