{{nav-bar}}
<div class="header">
  <img class="emberitas" src="../images/emberitas_white.png">

  <div class="coming-soon"> July 16, 2016 </div>
  <div class="location"> Austin, Texas </div>
  <div class="about">
    A <span class="strong">FREE</span> one-day event to teach women to code
    ambitious web applications with Ember.js.
  </div>

  <form class="email" {{action 'showInterest' model on="submit"}}>
    <div class="email-ask">I Want More Info!</div>
    {{input class="email" type="text" value=model.email }}
    <button class="email-button" type="submit"></button>
  </form>
</div>
<div class="more-info nav-margined left-aligned">
  <h1>Sponsor Us</h1>
  <p>We're looking for corporate sponsors to help make Emberitas a success.</p>
  <br>
  <p>To chat more about sponsorship opportunities, please contact
    <a href="mailto:shannon@emberitas.com?Subject=We%20Want%20To%20Help!" target="_top">shannon@emberitas.com</a>.</p>
</div>
<div class="footer" flex layout-align="center center">
  <a href="http://www.facebook.com"><div class="social-icon facebook"></div></a>
  <a href="http://www.twitter.com/iheartemberitas"><div class="social-icon twitter"></div></a>
  <a href="http://www.instagram.com/iheartemberitas"><div class="social-icon insta"></div></a>

</div>
