<div class="header">
  <img class="emberitas" src="../images/emberitas_white.png">

  <div class="coming-soon"> July 16, 2016 </div>
  <div class="location"> Austin, Texas </div>
  <div class="about">
    A <span class="strong">FREE</span> one-day event to teach women to code
    ambitious web applications with Ember.js.
  </div>

  <form class="email" {{action 'showInterest' model on="submit"}}>
    <div class="email-ask">I Want More Info!</div>
    {{input class="email" type="text" value=model.email }}
    <button class="email-button" type="submit"></button>
  </form>
</div>
