{{nav-bar}}

{{outlet}}

<div class="footer" flex layout-align="center center">
  <a href="http://www.facebook.com/emberitas"><div class="social-icon facebook"></div></a>
  <a href="http://www.twitter.com/iheartemberitas"><div class="social-icon twitter"></div></a>
  <a href="http://www.instagram.com/iheartemberitas"><div class="social-icon insta"></div></a>
</div>
