<div class="emberita-style">
  <div class="header">
    <img class="emberitas" src="../images/emberitas_white.png">

    <div class="coming-soon"> July 16, 2016 </div>
    <div class="location"> Austin, Texas </div>
    <div class="about" style="margin-bottom: 15px;">
      A <span class="strong">FREE</span> one-day event to teach women to code
      ambitious web applications with Ember.js.
    </div>
    <div class="about">
      <span class="strong">Sold out!</span>
    </div>

    <!-- <form class="email" {{action 'showInterest' model on="submit"}}>
         <div class="email-ask">I Want More Info!</div>
         {{input class="email" type="text" value=model.email }}
         <button class="email-button" type="submit"></button>
         </form> -->
    <a class="button" style="width:350px" href="http://emberitas-happy-hour.eventbrite.com" target="_blank">RSVP For Happy Hour</a>
  </div>

  <div class="nav-margined" style="background-color:#d2356b">
    <h1>Sponsors</h1>
    <div class="sponsors" flex layout-align="center center">
      <h2>Featured</h2>
      <img src="../images/conde.png" alt="conde nast logo">
      <img src="../images/frontside.png" alt="frontside logo">
      <img src="../images/skillsengine.svg" alt="skillsengine logo">
    </div>
    <div class="happyhr" flex layout-align="center center">
      <h2>Happy Hour</h2>
      <br>
      <img src="../images/avention.png" alt="avention logo">
    </div>
    <br>
    <div class="contributing" flex layout-align="center center">
      <h2>Contributing</h2>
      <img src="../images/ironyard.png" alt="iron yard logo" id="ironyd">
      <img src="../images/studentloang.png" alt="student loan genius logo">
      <img src="../images/tilde.png" alt="tilde logo">

    </div>
    <br>
  </div>

  <div class="more-info nav-margined">
    <h1> Location and Schedule </h1>
    <div class="about">
      <img src="../images/ironyard.png" alt="iron yard logo" style="height:150px">

      <p>
        The Iron Yard
        <br>
        <a href="https://www.google.com/maps/place/The+Iron+Yard+-+Austin/@30.2268505,-97.7581945,15z/data=!4m2!3m1!1s0x0:0x9f5425cc1c06676?sa=X&ved=0ahUKEwjX1KDx_enNAhXL6SYKHZsdCw8Q_BIImAEwEg">
          3601 S Congress Ave C304, Austin, TX 78704
        </a>
      </p>
    </div>
    {{#link-to 'schedule' class="button" }}View The Schedule{{/link-to}}

  </div>

  <div class="header nav-margined" style="background-color:#4A284F">
    <h1>Coaches and Volunteers</h1>
    <div class="about">
      We're looking for volunteers who are familiar with Ember.js to coach during
      the event, as well as a few friendly faces to help us run things smoothly.
    </div>
    <div class="about" style="margin: 20px auto;">
      Interested? Claim a Volunteer/Coach ticket on our Eventbrite page.
    </div>
    <a class="button" href="http://emberitas.eventbrite.com" target="_blank">Volunteer</a>

  </div>

  <div class="more-info nav-margined">
    <h1> Happy Hour</h1>
    <div class="about">
      July 16th, 2016 at 6:30pm
      <br>
      <br>
      Crow Bar on South Congress
      <br>
      <br>
      All members of the Austin Ember and Javascript community are invited to our post-workshop Happy Hour.
      <br>
      <br>
      Socialize, network, and mingle with attendees to share your love for Ember!
      <br>
      <br>
    </div>
    <a class="button" href="http://emberitas-happy-hour.eventbrite.com" target="_blank">RSVP</a>

  </div>

  <div class="about-us nav-margined">
    <h1> About Emberitas </h1>
    <div class="about">
      Emberitas is a free one-day workshop to teach women Ember.js. The two-track workshop includes a course for women who are new to code (and will focus on principles of MVC and object-oriented programming through the lens of Ember.js) as well as an intermediate track for women who are already familiar with a backend or frontend MVC framework and want to learn more about what Ember.js has to offer.
      <br>
      <br>
      <br>
      <h2>Why we're we doing this:</h2>
      <br>
      The Ember community is uniquely welcoming, supportive, and genuine. As just one example of how Ember stands out among tech communities, 33% of EmberConf 2016 speakers were women.
      However, EmberATX’s female meetup attendance falls well below that number, with an average three women at a 30+ member event.
      <br>
      <br>

      We’re invested in creating a strong Ember community in Austin, and we believe that a community's
      diversity increases it's strength.

      <br>
      <br>
      When women find welcoming communities in tech, they stay in the industry longer.
      <br>
      <br>

      That’s why an event like Emberitas is so important, and why we're excited to see you there on July 16th, 2016.
      <br>
      <br>
      <br>
      <h2>Why we're prioritizing women:</h2>
      <br>
      As a community, we're actively looking for ways to create safe spaces that support under-represented minorities.
      <br>
      <br>
      We believe that providing women with free resources at a workshop catered
      towards beginners removes many of the blockers that often prevent women from
      exploring career options in STEM.
      <br>
      <br>
      We are striving to create an environment that is conducive to learning and welcoming regardless of your tech expertise or gender.
      <br>
      <br>
      We encourage interested men to join the waitlist. If there are spots in the workshop that have not been claimed by July 9, we will begin offering seats to men and women on the waitlist in the order in which they signed up.
      <br><br>
      <span class="strong">All</span> members of the community are invited and encouraged to volunteer, coach, give a lightning talk, and join us for Happy Hour!
      <br><br>
    </div>
  </div>
</div>
