<div class="container resources">
  {{#link-to 'resources'}}
    <div class="resource-nav"> <img src="../images/emberitas_white.png" height=48>
      <div class="learning">
        Learning Center
      </div>
    </div>
  {{/link-to}}
  <br>
  <br>
  {{outlet}}
</div>
