<div class="container resources">
  <div class="resource-nav"> <img src="../images/emberitas_white.png" height=48>
    <div class="learning">
      Learning Center
    </div>
    </div>
  <br>
  <br>
  {{outlet}}
</div>
