
<div class="emberita-style emberitas-red schedule">
  <br><br>
  <img class="emberitas" src="../images/emberitas_white.png" style="width:40%">
  <h1>July 16th 2016 </h1>

  <p class="strong">9:00am - 10:00am</p>
  <p> Check-In, Breakfast, and Last-Minute Computer Setup </p>
  <br>

  <p class="strong">10:00am - 11:00am</p>
  <p>Icebreakers & and Opening Remarks</p>
  <br>

  <p class="strong">11:00am - 12:45pm</p>
  <p>Morning Workshop Sessions</p>
  <br>

  <p class="strong">12:45pm - 1:30pm</p>
  <p>Lunch</p>
  <br>

  <p class="strong">1:30pm - 2:30pm</p>
  <p>Lightning Talks & Mid-Day Icebreakers </p>
  <br>

  <p class="strong">2:30pm - 5:45pm</p>
  <p> Afternoon Workshop Session </p>
  <br>

  <p class="strong">6:00pm</p>
  <p>Community Happy Hour at Crow Bar</p>
  <br>
</div>
